<html>
    <head></head>
    <body>
        <H1>YOUR BOOKED TRAIN DETAILS ARE</H1>
        <div>{{booked_train_details}}</div>
       
        <div >
                <button onclick="add_passenger()">Add Passenger</button>
            </div>
            <div >
                <form action="/booking_payment" id="passenger_details" method="POST">
                    Passenger Name: <input type='text' name='passenger_name1' required>
                    <br>
                    Passenger Age: <input type='number' name='passenger_age1' required>
                    <br>
                    <input type="text" value="" name="counter_text" id="counter_text" hidden>
                    <button id="submit_button">CONFIRM BOOKING</button>
                </form>
            </div>

    </body>
    
    <script>

        var counter = 1;
        function add_passenger()
        {
            counter = counter +1 ;
            var myDiv = document.getElementById("passenger_details"); 
            var button = document.getElementById("submit_button")
            var counter_input = document.getElementById("counter_text")
            counter_input.value = counter;
            console.log(counter_input.value);
        
            var row = document.createElement('tr'); 
            var x = row.insertCell(0);
            var name = "passenger_name"+counter.toString();
            var age = "passenger_age"+counter.toString();
            //console.log(name)
            var pass_name = "Passenger Name: <input type='text' name='"+name+"' required>"
            var pass_age = "Passenger Age: <input type='number' name='"+age+"' required>"
            //var submit_button = "<button type='submit'>"
            x.innerHTML = "<br>"+pass_name+"<br>"+pass_age+"<br>"
            myDiv.insertBefore(row,button);
            return;
        }
    
    
    
    </script>
</html>