<html>
 <head>
        <title>railway reservation</title>
<style>
body {margin: 0; 
     padding: 0; 
     text-align: center;
     background-color:#C1FFFD;
    }
</style>
</head>
<body>

    <form action="/initial_user_data" method="POST">
        <h1>Railway Reservation  </h1>
        <h2 >Source:</h2><input type="text" name="source_name">
        <h2>Destination:</h2><input type="text"name="destination_name">
        <h2>Date:</h2><input type="date" name="date_of_travel">
        <h2>No of Passengers:</h2><input type="numeric" name="passenger_count">
        <button type="submit">SUBMIT DETAILS</button>
    </form>
    <br>
    <br>
    <h3></h3>
    <h3><u>TICKET CANCELLATION</u></h3>
    <form action="/ticket_cancellation">
    Ticket ID:<input type="text" name="ticket_id" id="">
    <br>
    <button type="submit">Cancel Ticket</button>
    </form>

</body>

</html>