<html>
        <head>
                <style>
                        td{
                                padding-bottom: 10px;
                                padding-top: 10px;
                                padding-right: 20px;
                            }

    
                </style>
        </head>
    <body>
        <h2>AVAILABLE TRAIN INFORMATION</h2>
        <div id="schedule_div">


        </div>
    </body>

    <script>    
    function geek(name) { 
			var myDiv = document.getElementById("schedule_div"); 
			
            
			// creating checkbox element 
			var row = document.createElement('tr'); 
            var x = row.insertCell(0);
            x.innerHTML = name[0];
            var x = row.insertCell(1);
            x.innerHTML = name[1];
            var x = row.insertCell(2);
            x.innerHTML = name[2];
            var x = row.insertCell(3);
            x.innerHTML = name[3];
            var x = row.insertCell(4);
            x.innerHTML = name[4];
            var x = row.insertCell(5);
            x.innerHTML = "<form action='/booking_confirmation' method='POST'><input type='text' name='source' value="+name[0]+" hidden/><input type='text' name='destination' value="+name[1]+" hidden/><input type='text' name='train_name' value="+name[2]+" hidden/><button>BOOK</button></form>";
            console.log(row);
            console.log(myDiv);

			myDiv.appendChild(row); 
            return;

			
		} 
    var trains = JSON.parse('{{ output | tojson }}');

    //console.log(trains)
    for (i = 0; i < trains.length;) 
        { 
            //console.log(trains[])
            var trains_data = [trains[i+1],trains[i+2],trains[i+3],trains[i+4],trains[i+5]];
            // //var name = trains[i];
            // //console.log("TRAIN STATUS")
            console.log(trains_data);
            geek(trains_data);
            i=i+6;
        }

        
    </script>
</html>